* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
  overflow-x: hidden;
}
.landing-main{
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#overlay {
  position:absolute;
  top: -10;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.538);
  
}
.content{
  position:absolute;
  top: 0;
  padding:35vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FAEAA4;
  opacity: 0.8;
}

.navbara{
  background-color:#2618187d;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  padding-left: 50px;
  padding-right: 50px;
}
.navLinks{
  color: #FAEAA4;
  margin-right: 25px;
}
.navbrand{
  color: #FAEAA4;
}
.signup-button{
  background-color:  #FAEAA4;
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
}
.signup-button:hover{
  background-color: #eadc9d;
  color: #ffffff !important;

}
.navbrand:hover,
.navLinks:hover{
  color: rgb(243, 247, 177);
}
.navs{
  margin: auto;
}

.components{
  width: 100%;
  height: 675px;
  color: #e2d392;
  position: absolute;
  top: 100vh;
  z-index: 50;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.innerbox{
  width: 160px;
  height: 160px;
  border-radius:50% ;
  background-size:cover;
  background-repeat: no-repeat;
  border: 8px solid #d7cd98;
  margin-bottom: 25px;
}

.innerbox:hover{
  cursor: pointer;
  scale: 1.1;
  transition: scale .6s;
}
.b1{
  background-image: url("./assets/images/c1.png");
}
.b2{
  background-image: url("./assets/images/c2.jpg");
}
.b3{
  background-image: url("./assets/images/c3.jpg");
}
.b4{
  background-image: url("./assets/images/c4.jpg");
}

.loginSignup{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.form{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  color: #e9d88e;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}
.buttonLoginSignuppage{
  background-color: #e8cb49 ;
  color: #ffffff;
  padding: 5px 12px;
  
}
.buttonLoginSignuppage:hover{
  background-color: #e0d085;
  color: #ffffff !important;

}
.icon{
  position:fixed;
  left: 345px;
  margin-top: 5px;
  z-index: 100;
  cursor: pointer;
  color: black;
}
.logout-button{
    background-color:  #FAEAA4;
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    margin-right: 40px;
}
.logout-button:hover{
    background-color: #eadc9d;
    color: #ffffff !important;
  
}

#mapcomponent{
  padding: 75px 50px 75px 50px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#2f160ff1;
}
#mapcomponentfields{
  flex-direction: column;
  width: 400px;

  margin-right: 5%;
}
@media screen and (max-width: 948px) {
  #mapcomponent{    
    flex-direction: column;
  }
  #mapcomponentfields{
   margin: auto;
  

  }
}
@media screen and (max-width : 483px) {
  #mapcomponent{
    align-items: flex-start;
  }
  #mapcomponentfields{
   
    width: 100%;
    margin-right: 0;
  }
}
.btn-directions{
  color: #ffffff !important;
  background-color: #fbe47d;
  border: 1px solid #ffffff;
}
.btn-directions:hover{
 
  background-color: #ddcd84;
  border: 1px solid #ffffff;

 }
 .map-search{
  background-color: #FAEAA4;
  color: #190808;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
 }
.btn-search{
  color: #ffffff;
  background-color: #f0e09a;
  padding: 5.5px 15px 5.5px 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.leaflet-popup-content-wrapper{
  background-color: #190808;
  color: #ffffff;
}
.errormsgmap{
  position:fixed;
  bottom: 25px;
  left: 56%;
  color: #FAEAA4;
}

.scrollable-dropdown-menu {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto;  /* Enable vertical scrolling */
}

.dropdown-menu.show {
  max-height: 200px; /* Match this with the CSS class */
  overflow-y: auto;
}
.dropdown-toggle{
  background-color: #FAEAA4 !important;
  color: #190808 !important;
  width: 380px;
  padding-left: 0 !important;
  border: none;
}
.dropdown-toggle:hover{
  background-color: #ddcd84 !important;
  color: #111010;
  width: 380px;
  padding-left: 0 !important;
}
.dropdown-toggle::after{
 position:absolute;
left: 87%;
 top: 15px;
}
.dropdown-item{
  background-color: white !important;
  color: #111010 !important;
}